body{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(217,226,227,1) 0%, rgba(233,235,234,1) 22%, rgba(176,185,187,1) 79%);
}

#scena{
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    margin: 200px auto 0 auto;
    position: relative;
    perspective: 1000px;
}

#kostka{
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    animation: obracaniekostki 7s infinite alternate;
}

.sciana{
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 80px;
    font-weight: bold;
    color: white;
    line-height: 300px;
    text-align: center;
}

div.front{
    background-color: red;
    transform: translateZ(150px);
}

div.back{
    background-color: blue;
    transform: rotateX(180deg) translateZ(150px);
}

div.left{
    background-color: yellow;
    transform: rotateY(-90deg) translateZ(150px);
}

div.right{
    background-color: green;
    transform: rotateY(90deg) translateZ(150px);
}

div.top{
    background-color: teal;
    transform: rotateX(90deg) translateZ(150px);
}

div.bottom{
    background-color: orange;
    transform: rotateX(-90deg) translateZ(150px);
}

@keyframes obracaniekostki{
    from{

    } 
    to{
        transform: rotateY(360deg) rotateX(360deg);
    }
}